..
.
*
!.*
.bash_history
.bzr.log
.cling_history
.gksu.lock
.gmrun_history
.recently-used
.xsession-errors
.zcompdump
.ssh
.bitcoin
.sqlite_history
.wine
.config
!.config/gtk-*
.apod*
.zsh_history
.scala_history
.steampath
.zshrc.bak
.irb_history
.irb-history
.netrc
.ctris_highscore.dat
.rnd
.qtorrent.history
.gdb_history
.lesshst
.ICEauthority
.viminfo
*.swp
*.swo
.Xauthority
.vim/.netrwhist
.oh-my-zsh
.desktop_env
.directory
.esd_auth
.gtk-bookmarks
.qt-recordmydesktop
.p7zip
.pulse-cookie
.pypanelrc
.qt
